<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Dish - <%= dish.title %></h1>

    <form action="/dishes/<%=dish.id%>" method="post"> <!-- method is post now for correct semantics -->
        <p>
            <input type="text" name="title" id="" placeholder="<%= dish.title %>" value="<%= dish.title %>">
            <label for="">title</label>
        </p>
        <p>
            <input type="text" name="image_url" id="" placeholder="<%= dish.image_url %>" value="<%= dish.image_url %>" >
            <label for="">image url</label>
        </p>
        <input type="hidden" name="id" value="<%= dish.id %>">
        <label for=""><button>Edit</button></label>
    </form>

</body>
</html>